{% extends "base.html" %}

{% block title %}Deletion{% endblock %}

{% block content %}
<form method="POST" style="width: 256px;">
    <h3 align="center">Deletion</h3>
    <p>Are you sure you want to permanently delete your account?</p>
    <div class="form-group p-2">
        <input type="checkbox" id="delete" name="delete" value="delete">
        <label for="delete"> Yes </label><br>
    </div>
    <div align="center" class="submit-button p-4">
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>
{% endblock %}